@import "~react-image-gallery/styles/css/image-gallery.css";

.course-details-description-main{
  width: 100%;
  direction: rtl;
  background: #eee;
  padding: 5px 20px;
  border-radius: 10px;
  min-height: 450px;
  /* min-width: 300px; */
  font-size: larger;
  line-height: 2;
}

.course-details-description-main img {
  width: 400px;
  height: auto;
}

.course-details-description-main li {
  margin-right: 20px;
}

.course-details-description-main blockquote {
  border-right: 4px solid rgb(185, 185, 185);
  padding-right: 20px;
  margin: 5px 0;
}

.media-img {
  max-height: 380px;
}

.media-vid {
  width: 500px;
  height: 350px;
}

@media only screen and (max-width:600px){
  .course-details-description-main img {
    width: 75vw;
    height: auto;
  }
}

@media only screen and (max-width:680px){
  .media-img {
    width: 100%;
    height: auto;
  }
  .media-vid {
    width: 100%;
    height: 350px;
  }
}