@import "~react-image-gallery/styles/css/image-gallery.css";

.course-details-description{
  width: 100%;
  direction: rtl;
  background: #eee;
  padding: 5px 20px;
  border-radius: 10px;
  min-height: 450px;
  /* min-width: 300px; */
  font-size: larger;
  line-height: 2;
}

.course-details-description img {
  width: 400px;
  height: auto;
}

.course-details-description li {
  margin-right: 20px;
}

.course-details-description blockquote {
  border-right: 4px solid rgb(185, 185, 185);
  padding-right: 20px;
  margin: 5px 0;
}

.course-details-description .text-huge {
  font-size: 2rem;
}

@media only screen and (max-width:600px){
  .course-details-description img {
    width: 75vw;
    height: auto;
  }
}